#Ignore Build Commands
build/
build/*.*

#Ignore binary folder and files
bin/
bin/*.*

#sawp files from vim
*.swp

#exe files and object files
*.exe
*.o
*.obj

#ignore bak files
*.bak

#ignore .vscode folder
.vscode/
.vscode/*.*

#Ignore SFML Folder
SFML/
sfml/
SFML/*.*
sfml/*.*
SFML

#ignore output.bmp
output.bmp